doctype html
html(lang='en')
  head
    title MyWeb

  body
    #app
      #splash
        h1 MyWeb
        #buttons
          a(href='/login') Login
          a(href='/signup') Sign up

    script(src="/javascripts/vue.js")
    script(src="/javascripts/appvue.js")
