doctype html
html(lang='en')
  head
    title Log in to Admiral
    link(rel='shortcut icon', type='image/x-icon', href='media/favicon.png')
    link(rel="stylesheet", href="/stylesheets/style.css", type="text/css", media="screen")
    link(rel="stylesheet", href="/stylesheets/login.css", type="text/css", media="screen")

  body
    #app
      #background
        #logo
          html.
            <span style="color: rgb(91,192,222);">Ad</span>miral
        form(name="login_attempt", method="post", action="/login")
          h1#title Log in
          .main
            .item
              input(v-model="username", type="username", placeholder="Username", name="username")
            .item
              input(type="password", placeholder="Password", name="password")
          #invalid(v-if='invalid')
            | Invalid username or password

          .buttons
            a(href="/")
              button.cancel(type="button") Cancel
            button.submit(type="submit") Login

    script(src="/javascripts/vue.js")
    script(src="/javascripts/gatevue.js")
