doctype html
html(lang='en')
  head
    title Sign Up for Admiral
    link(rel='shortcut icon', type='image/x-icon', href='media/favicon.png')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oleo+Script")
    link(rel="stylesheet", href="/stylesheets/style.css", type="text/css", media="screen")
    link(rel="stylesheet", href="/stylesheets/login.css", type="text/css", media="screen")
    link(rel="stylesheet", href="/stylesheets/signup.css", type="text/css", media="screen")

  body
    #app
      #background
        #logo
          html.
            <span style="color: rgb(91,192,222);">Ad</span>miral
        #userSelector
          #selectorcontainer
            button#userbtn(type='button' @click='userType = "user"' v-bind:class="{'active': userType=='user' }") User
            button#sitebtn(type='button' @click='userType = "site"' v-bind:class="{'active': userType=='site' }") Site Admin
            button#adbtn(type='button' @click='userType = "advertiser"' v-bind:class="{'active': userType=='advertiser' }") Advertiser
        form(v-if='userType == "user"', name="user_signup", method="post", action="/signup")
          h1#title Log in
          .main
            .item
              input.form-control(type='email', placeholder="Email", name="username")
            .item
              input(type='password', placeholder="Password", name="password")
          .buttons
            #user.cancel
              a(href="/")
                button.cancel(type="button") Cancel
            #user.signup
              button.submit(type="submit") Sign Up
        form(v-if='userType == "site"', name="site_signup", method="post", action="/signup")
          h1#title Log in
          .main
            .item
              input(type="email", placeholder="Email", name="username")
            .item
              input(type='password', placeholder="Password",  name="password")
            .item
              input(type='text', placeholder="Site Address", name="address")
            .item
              input(type='text', placeholder="Billing Code", name="billing")
          .buttons
            #site.cancel
              a(href="/")
                button.cancel(type="button") Cancel
            #site.signup
              button.submit(type="submit") Sign Up
        form(v-if='userType == "advertiser"', name="ad_signup", method="post", action="signup")
          h1#title Log in
          .main
            .item
              input(type='email', placeholder="Email", name="username")
            .item
              input(type='password', placeholder="Password",  name="password")
            .item
              input(type='text', placeholder="Billing Code", name="billing")
          .buttons
            #ad.cancel
              a(href="/")
                button.cancel(type="button") Cancel
            #ad.signup
              button.submit(type="submit") Sign Up


    script(src="/javascripts/vue.js")
    script(src="/javascripts/gatevue.js")
