doctype html
html(lang='en')
  head
    title MyWeb
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    link(href='/stylesheets/userhome.css', rel='stylesheet')

  body
    #app
      nav
        .navcontainer
          a(href='#' @click='showExpanded = !showExpanded') {{ balance }} available
          a(href='#' @click='showExpandedProfile = !showExpandedProfile') {{ username }} <span class='expand'>v</span>
        #expandedBalance(v-if='showExpanded')
          p hi
        #expandedProfile(v-if='showExpandedProfile')
          a(href='#' @click='showMyAds') My Ads
      .center-container(v-if='view == "home"')
        .hv-center
          button.cta(type='button' @click='viewAdStream') View ad stream
          p Earn adbucks for free!
        .hv-center
          button.cta(type='button' @click='view = "adad"') Submit an Ad
          p Help people find your business
        .hv-center
          button.cta(type='button' @click='view = "embed"') Embed an ad
          p Passive income is a click away
      .adstreamcontainer(v-if='view == "adstream"')
        button.cta(type='button' @click='exitAdStream' id='exit') Exit
        #adstream
          adbox(v-for='ad in ads', :ad='ad')
        button.cta(type='button' @click='viewAdStream' id='more') More
      .uploadcontainer(v-if='view == "adad"')
        button.cta(type='button' @click='view = "home"' id='exit') Exit
        .center
          .divider
          h2 Create an ad
          p.center Whenever it's displayed, you'll earn adbucks automatically
          form(action="/createAd" method="post")
            input(type='text' name='name' placeholder='name')
            input(type='text' name='url' placeholder='image url')
            input(type='text' name='src' placeholder='ad link')
            input(type='hidden' name='username' v-bind:value='username')
            input.cta(type='submit' value='Submit')
      .flexcontainer(v-if='view == "gallery"')
        button.margined.cta(@click='view = "home"') Back
        h1 My Ads
        button.margined.cta(@click='view = "adad"') New
      .adgallery.center(v-if='view == "gallery"')
        .flexcontainer
          galleryad(v-for='ad in myads', :ad='ad')
      button.cta(v-if='view=="embed"' type='button' @click='view = "home"' id='exit') Exit
      .embedcontainer.center(v-if='view == "embed"')
        .divider
        h1 How to use:
        p Simply copy and paste the following code into your website
        .codecontainer(@click="autoselect")
          p samplecode

    script(src="/javascripts/vue.js")
    script(src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js")
    script(src="/javascripts/userhomevue.js")
