doctype html
html(lang='en')
  head
    title Admiral
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    link(href='/stylesheets/userhome.css', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js')
    script(src='http://malsup.github.com/jquery.form.js')
    script(src='https://www.google.com/recaptcha/api.js')

  body
    script.
      var user = !{JSON.stringify(user)};
      var captchaResponse = function(response) {
        app.captchaCheck(response);
      };
    #app
      #myModal.modal(ref='myModal')
        .modal-content
          .g-recaptcha(data-sitekey="6LeRkxsUAAAAABv1SSUmLCpPD7_-DkQNqAnajx53", data-callback="captchaResponse")
      nav
        .navcontainer
          a(@click='showExpanded = !showExpanded') {{ balance }} credits
            transition(name='drop')
              #expandedBalance.dropdown(v-if='showExpanded')
                b.border-notch.notch
                b.notch
                p You have {{dollars}} dollars in your account
                button(type='button' @click="transferMoney") Convert credits to dollars
          a(@click='showExpandedProfile = !showExpandedProfile') {{ username }}
            span.expand.glyphicon.glyphicon-cog(style='color:white;', aria-hidden='true')
            transition(name='drop')
              #expandedProfile.dropdown(v-if='showExpandedProfile')
                b.border-notch.notch
                b.notch
                form(action="/signout" method="get")
                  input(type='submit' @click="logOut" value="Log Out")
        #tabbar
          a.tab-button(:class="{ active: inAdStream }" @click='viewAdStream') Ad Stream
          a.tab-button(:class="{ active: inAdAd }" @click='view="adad"') Create Ad
          a.tab-button(:class="{ active: inEmbed }" @click='view="embed"') Embed Ad
          a.tab-button(:class="{ active: inGallery }" @click='view="gallery"') My Ads

      transition(name='fade')
        .adstreamcontainer(v-if='view == "adstream"')
          #timer(:style="{ width: computedTimerWidth + '%', transition: 'width ' + computedTransition + 's' }")
          .divider
          #adstream
            adbox(v-for='ad in ads', :ad='ad')
          .divider
          .divider
          .divider
          .divider
          .divider
          .divider
      transition(name='fade')
        .uploadcontainer(v-if='view == "adad"')
          .center
            .divider
            .divider
            h2 Create an ad
            p.center Whenever it's displayed, you'll earn credits automatically
            form(action="/createAd" method="post")
              input(type='text' name='name' placeholder='Ad name')
              input(type='text' name='url' placeholder='Media url')
              input(type='text' name='src' placeholder='Ad link')
              input(type='hidden' name='username' v-bind:value='username')
              input.cta(type='submit' value='Submit')
      transition(name='fade')
        .gallery(v-if='view == "gallery"')
          button#new(type='button' @click='view = "adad"') +
          .divider
          .adgallery.center
            .flexcontainer
              galleryad(v-for='ad in myads', :ad='ad')
          .noAdsMessage(v-if='myads.length == 0')
            h2 Looks like you have no ads of your own!
            p If you are a user, use this site to check your credit balance, conver to money, or watch the 'Ad Stream' tab.
            p If you are a site owner / content creator, use the 'Embed Ad' tab and implement Admiral ads on your site.
            p If you are an advertiser, use the '+' button or the 'Create Ad' tab to create ads to be displayed to the public.
      transition(name='fade')
        .embedcontainer.center(v-if='view == "embed"')
          .divider
          .divider
          .divider
          h1 How to use:
          p Enter the height and width of the space
          label(for='heightInput') Height:
          input#heightInput(type='number' name='height' placeholder='Height' v-model="height")
          label(for='widthInput') Width:
          input#widthInput(type='number' name='width' placeholder='Width' v-model="width")
          p Then, simply copy and paste the following code into your site's HTML
          .divider
          .codecontainer(@click="autoselect")
            p {{embed_code_1}}{{width}}{{embed_code_2}}{{height}}{{embed_code_3}}{{height}}{{embed_code_4}}{{width}}{{embed_code_5}}

    script(src="/javascripts/vue.js")
    script(src="/javascripts/util.js")
    script(src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js")
    script(src="/javascripts/userhomevue.js")
