

div#background {
  background-image: url("http://stancebranding.com/wp-content/uploads/2014/08/Blur-2-1024x667.png");
  /*background-color: rgb(180, 80, 0);*/
  background-size: 100%;

  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

div#logo {
  font-family: 'Oleo Script', cursive;
  color: white;
  font-size: 120px;

  position: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  padding-top: 14vh;

  width: 100%;
  height: 50%;
}

div#content {
  width: 100%;
  height: 50%;
  padding-top: 5vh;
}

div#title{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: table;
  font-size: 50px;
  font-weight: 100;
}

div#buttons {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2vh;
  width: 20vw;
}

a:hover { 
  text-decoration: none;
}

button {
  margin-top: 1vh;
  text-decoration: none;
}