div#userSelector {
  margin: 2vh auto;
  width: 30vw;
  text-align: center;
  background: none;
}

#selectorcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#userSelector button {
  text-align: center;
  flex-grow: 1;
  color: #a8a8a8;
}

button:focus,button:active {
   outline: none !important;
}

#selectorcontainer button {
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 1.1em;
  letter-spacing: 1px;
} #selectorcontainer button:hover, #selectorcontainer button.active {
  border-bottom: 2px solid #4DBED6;
  color: #4DBED6;
}
