/*
  COLOR REFERENCE: <name>: #<hex> //<purpose>

  darkbluegrey: #66777A //for faded text(code embed, etc)
  slategrey: #43484A //for text
  offwhite: #FCFCFC //for backgrounds
  lightgrey: #a8a8a8 //for light text(unimportant headers, etc)
  lightergrey: #C2C4CC //for lighter elements(borders, etc)
  admiralblue: #4DBED6 //our highlight color and logo color
  red: #FF495C //for closing/deleting
*/


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
