html, body {
  margin: 0;
  padding: 0;
  color: #43484A;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  width: 100%;
  position: relative;
  background-color: #4DBED6;
  color: #fff;
  letter-spacing: 1px;
  z-index: 10;
} nav a {
  padding: 20px;
}
nav .navcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


span.expand {
  font-size: 0.8em;
  padding: 2px;
}

#app {
  height: 100%;
}
.center-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
.hv-center {
  display: flex;
  flex-direction: column;
  align-items: center;
} .hv-center p {
  color: #979C99;
}

button#more {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.adstreamcontainer {
  overflow: auto;
  position: fixed;
  height: 100%;
}

#adstream {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 0;
}

.ad {
  margin: 5px;
  padding: 0;
  border: 1px solid #D1D1D1;
  background-color: #FCFCFC;
  border-radius: 2px;
} .ad iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#expandedBalance {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #43C8E6;
} #expandedProfile {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #43C8E6;
}

.center {
  display: table;
  margin: auto;
}
.divider {
  height: 5vh;
}
form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
} form input {
  padding: 5px;
  margin-bottom: 15px;
}

.adgallery {
  width: 70%;
  margin-top: 30px;
}

.margined {
  margin: 10px;
}

.flexcontainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}


.codecontainer {
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  padding: 4px 8px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
} .codecontainer:hover {
  border-color: #A8AFB5;
} .codecontainer p {
  padding: 0;
  margin: 0;
}





nav a:hover {
  text-decoration: underline;
  color: #FCFCFC;
} a:visited {
  color: inherit;
}
#tabbar {
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-around;
  color: #4DBED6;
  box-shadow: 0px 4px 4px #D1D1D1;
} #tabbar .tab-button {
  border: none;
  background: none;
  padding: 15px;
  border-bottom: 3px solid #FCFCFC;
  flex-grow: 1;
  text-align: center;
  cursor: grab;
} #tabbar .tab-button:hover {
  background-color: #4DBED6;
  border-color: #4DBED6;
  color: #FCFCFC;
} #tabbar a.tab-button.active {
  border-color: #4DBED6;
}

.cta {
 padding: 15px;
 border: none;
 background-color: #3DDC97;
 color: #FCFCFC;
 font-size: 1.2em;
 letter-spacing: 1px;
} .cta:hover {
  background-color: #34BA80;
}

.slidein {
  animation: slidein 0.2s;
  z-index: 0;
}

button#new {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: #3DDC97;
  border-radius: 50px;
  border: none;
  color: #FCFCFC;
  font-size: 50px;
  bottom: 10px;
  right: 10px;
} button#new:hover {
  background-color: #34BA80;
}
button.deleteAd {
  width: 40px;
  height: 40px;
  color: #FCFCFC;
  border-radius: 20px;
  border: none;
  background-color: #FF495C;
  font-size: 20px;
  left: -15px;
  top: -15px;
  position: absolute;
  visibility: hidden;
} .galleryad:hover > button.deleteAd {
  visibility: visible;
}

.drop-enter-active, .drop-leave-active {
  transition: opacity .5s
}
.drop-enter, .drop-leave-active {
  opacity: 0
} .drop-leave-active {
  display: none;
}

.galleryad {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FCFCFC;
  border: 1px solid #C2C2C2;
  margin-bottom: 25px;
  padding-bottom: 14px;
  box-shadow: 0 4px 8px #D1D1D1;
  position: relative;
  transition: box-shadow 0.2s;
} .galleryad a {
    overflow: hidden;
}.galleryad img {
  min-width: 100%;
  height: 20em;
  margin-bottom: 14px;
} .galleryad p {
  text-align: center;
  margin: 0;
  font-size: 1.1em;
}
.galleryad:hover {
  box-shadow: 0px 0px 10px #4F6066;
}
